@page "/calculator"
@rendermode InteractiveServer

<PageTitle>Calculator</PageTitle>

<h1>Calculator</h1>

<p>This page displays a simple Addition calculator for adding two numbers.</p>
<div class="equation">
    <input type="number"/>
    <p> + </p>
    <input type="number" />
    <p> = </p>
    <label>Label</label>
</div>
@code {

}
