@page "/"

<PageTitle>Home</PageTitle>

<h1>Seven Apps</h1>

<p>A Blazor practice web application made of seven smaller web applications.</p>
<br />
<div>
    <h2>Why did I make this?</h2>
    <p>Practice with Blazor and routing is essential for developers. </p>
</div>
<div>
    <h2>What is shown here?</h2>
    <ul>
        <li>Blazor page syntax</li>
        <li>Routing</li>
        <li>Scripting through Blazor's code sections</li>
    </ul>
</div>